/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

.button {
  --white: #fff;
  --black: #000;
  --mint-1: #effbf9;
  --mint-2: #cff2ec;
  --mint-3: #9ee5d9;
  --mint-4: #6fd7c6;
  --mint-5: #4fceba;
  --mint-6: #30b09c;
  --mint-7: #26907f;
  --mint-8: #1b6054;
  --mint-9: #134038;
  --gray-1: #f2f4f7;
  --gray-2: #e9ebf0;
  --gray-3: #dadce0;
  --gray-4: #c4c7cd;
  --gray-5: #9ba0a8;
  --gray-6: #858993;
  --gray-7: #65686f;
  --gray-8: #414246;
  --gray-9: #1a1c1f;

  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 3px 30px 2px 30px !important;
  font-size: 0.95rem;
  font-weight: 500;
  background-color: var(--mint-3);
  color: var(--gray-8);
  box-shadow: 0 1px 1px 0 rgba(65, 66, 70, 0.3);
  border-radius: 50rem;
  transition: all 0.3s ease;
  cursor: pointer;
  min-width: 120px;
  background: linear-gradient(var(--mint-3), var(--mint-3)) padding-box,
    linear-gradient(to bottom, var(--mint-2), var(--mint-4)) border-box;
  border: 1px solid transparent;
}

.button:hover {
  color: var(--gray-8);
  text-decoration: none;
  background: linear-gradient(var(--mint-5), var(--mint-5)) padding-box,
    linear-gradient(to bottom, var(--mint-5), var(--mint-5)) border-box;
}

.button:visited {
  color: var(--gray-8);
}

@media screen and (max-width: 999px) {
  .button {
    display: none;
  }
}